

  body {
    overflow: hidden;
  }
  
  .container {
    height: 100vh;
    position: relative;
    background-color: #121212;
  }
  
  .image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: fixed;
  }
  
  .center-image {
    max-width: 300px;
    margin-bottom: 20px;
  }
  

  
  .content {
    opacity: 0;
    position: absolute;
    animation: none;
    height: 700px;
    color: #7f8592;
    width: 200px;
  }
  
  .content.visible {
    animation: fadeIn 2s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    10% { opacity: 0; }
    20% { opacity: 0.1; }
    40% { opacity: 0.2; }
    60% { opacity: 0.4; }
    80% { opacity: 0.6; }
    100% { opacity: 1; }
  }
  
  .content-0 {
    top: 68%;
    left: 150%;
  }
  
  .content-1 {
    top: 10%;
    left: 137%;
  }
  
  .content-2 {
    top: 50%;
    right: 140%;
  }
  
  .content-3 {
    top: 46%;
    left: 150%;
  }
  
  .line {
    position: absolute;
    height: 2px;
    background-color: white;
    opacity: 0;
    transition: width 0.3s ease-out;
  }
  
  .line-0 {
    top: 65%;
    left: 88%;
  }
  
  .line-1 {
    top: 159px;
    left: 77%;
  }
  
  .line-2 {
    top: 66%;
    right: 72%;
  }
  
  .line-3 {
    top: 44%;
    left: 86%;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
  }
  
  .dot-0 {
    top: 64%;
    left: 85%;
  }
  
  .dot-1 {
    top: 155px;
    left: 74%;
  }
  
  .dot-2 {
    top: 65%;
    right: 69%;
  }
  
  .dot-3 {
    top: 43%;
    left: 85%;
  }
  
  .dot.visible {
    opacity: 1;
  }



